<!DOCTYPE html>
<head>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="bootstrap.min.css" rel="stylesheet">
<link href="images/logo.png" rel="shortcut icon" />
<link href="user.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>La Salle Eats | User Profile </title>
<style>

	
.icon {
            width: 32px;
            height: 32px;
            border: 1px solid #2F3B1C;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            margin-left: 10px;
        }

        .loginregister {
            color: #444444;
            font-weight: bold;
        }

        a:link, a:visited {
            color: #444444;
            text-decoration: none;
        }

        a:hover {
            color: #526534;
            text-decoration: none;
        }

        .loginregister:hover {
            color: #526534;
        }

        .navlinks {
            word-spacing: 10px;
            margin-right: 20px;
            font-size:larger;
            text-underline-offset: auto;
        }

        .button {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        #searchbar {
            margin-left: 25px;
            width: 100%;
            max-width: 300px;
            background: rgba(255, 255, 255, 0.2);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 60px;
            padding: 10px 20px;
            backdrop-filter: blur(4px) saturate(180%);
        }

        #searchbar input {
            background: transparent;
            flex: 1;
            border: 0;
            outline: none;
            font-size: 20px;
            color: #444444;
        }

        #searchbar button img{
            width: 30px;
            height: 30px;
        }

        #searchbar button {
            border: 0;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0);
            cursor: pointer;
            width: 50px;
            height: 50px;
            backdrop-filter: blur(4px) saturate(180%);
        }

        ::placeholder {
            color: #444444;
        }
</style>
</head>
<body>
  <div class="main-content">
    <!-- Top navbar -->
	<header class="navigation" style="position: sticky; top: 0; z-index: 999;">
        <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm py-3">
            <div class="container">
                <a href="Homepage">
                    <img src = "images/logo.png" width = 100px height = 85px/>
                </a>
				<form action="" id="searchbar" style="margin-top: 15px; margin-left: 40px; border: #2F3B1C solid 2px;">
					<input type="text" placeholder="Search...">
					<button type="submit"><img src="./images/searchicon.png"></button>
				</form>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="Homepage">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="restolist">Restaurants</a>
                        </li>
               			   <li class="nav-item" onclick="openNav()">
							</li>
                        {{#if user}}
                                <li clas="nav-item">
							        <a class="nav-link" href="/logout">Sign Out</a>
						        </li>
                                <a href="User">
						            <img src="images/defaulticon.png" class="icon" style="a:hover { border-radius: #2F3B1C solid 4px;}">
						        </a>
                        {{else}}
                                <p class="nav-link" href="" onclick="openNav()" style="cursor: pointer;">Login</p>
                        {{/if}}
                    </li>
                </div>
            </div>
        </nav>
	</header>
    <!-- Header -->
    <div class="header pb-8 pt-lg-8 " style="min-height: 300px; background-image: url(dlsuheader.jpg); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid">
        <div class="row">
          <form class="col-lg-7 col-md-10" action = "/EditProfile" method = "post">
            <button type = "submit" class="btn edit" style = " white-space:nowrap">Edit profile</button>
          </form>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img src="./images/defaulticon.png" class="rounded-circle">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col" style ="margin-top:30px">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <div>
                      <span class="heading">231</span>
                      <span class="description">Likes</span>
                    </div>
                    <div>
                      <span class="heading">29</span>
                      <span class="description">Comments</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h3>
                  {{user}}
                </h3>
                <div class="h5 mt-4">
                  <i class="ni business_briefcase-24 mr-2"></i>{{education}}
                </div>
                <div>
                  <i class="ni education_hat mr-2"></i>{{college}}
                </div>
                <hr class="my-4">
                <p>{{profession}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center tab">
                <div class="col-8">
                  <button class="mb-0 tablinks" onclick="openTab(event, 'showpost')">Posts</button>
                </div>
                <div class="col-4 text-right">
                  <button class="mb-0 tablinks" onclick="openTab(event, 'showcomment')" style = "float:right">Comments</button>
                </div>
              </div>
            </div>

 			<div class="card-body tabcontent" id = "showpost" style = "display:block">
				<div class = "header_post" style ="display:flex; flex-direction:row">
				  <img class="rounded-circle shadow-1-strong me-3" src="./images/defaulticon.png" width = 50 height = 50>
					<div style = "margin-left: 10px ;">
						<a href = "User"><h6 style = "color: seagreen; font-size:16px;">{{user}}</h6></a>
						<p class="text-muted small mb-0"> 1/5
							<span class="fa fa-star" style = "color: orange;"></span>
							<span class="fa fa-star" ></span>
							<span class="fa fa-star" ></span>
							<span class="fa fa-star" ></span>
							<span class="fa fa-star"></span>
						</p>
								
						<h4 style = "margin-top:10px">Gang Gang Chicken</h4>
						<p class="mt-3 mb-4 pb-2">
							I prefer 24 chicken over this. Compared to Bok chicken and 24 chicken, theirs is so small!
						</p>

						<div class="small d-flex justify-content-start">
							<button class = "btn"><i class="fa fa-thumbs-up"></i> 70</button>
							<button class = "btn"><i class="fa fa-thumbs-up fa-rotate-180"></i> 22</button>
						</div>
					</div>
				</div>
				<span id = "showmore" style = "display:flex; justify-content:center; cursor:pointer;" onclick = "More()">Show more</span>
				<span id = "more">
					<br>
					
					<div class = "header_post" style ="display:flex; flex-direction:row">
					  <img class="rounded-circle shadow-1-strong me-3" src="./images/defaulticon.png" width = 50 height = 50>
						<div style = "margin-left: 10px ;">
							<a href = "User"><h6 style = "color: seagreen; font-size:16px;">{{user}}</h6></a>
							<p class="text-muted small mb-0"> 4/5
								<span class="fa fa-star" style = "color: orange;"></span>
								<span class="fa fa-star" style = "color: orange;"></span>
								<span class="fa fa-star" style = "color: orange;"></span>
								<span class="fa fa-star" style = "color: orange;"></span>
								<span class="fa fa-star"></span>
							</p>
										
							<h4 style = "margin-top:10px">24 Chicken</h4>
							
							<p class="mt-3 mb-4 pb-2">
								Because of its affordable price, it is becoming one of the go-to food of many Lasallians. Kaya laging sobrang haba ng pila ToT 
							</p>

							<div class="small d-flex justify-content-start">
								<button class = "btn"><i class="fa fa-thumbs-up"></i> 121</button>
								<button class = "btn"><i class="fa fa-thumbs-up fa-rotate-180"></i> 17</button>
							</div>
						</div>
					</div>
					
					<br>
					
					<div class = "header_post" style ="display:flex; flex-direction:row">
					  <img class="rounded-circle shadow-1-strong me-3" src="./images/defaulticon.png" width = 50 height = 50>
						<div style = "margin-left: 10px ;">
							<a href = "User"><h6 style = "color: seagreen; font-size:16px;">{{user}}</h6></a>
							<p class="text-muted small mb-0"> 2/5
								<span class="fa fa-star" style = "color: orange;"></span>
								<span class="fa fa-star" style = "color: orange;"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</p>
									
							
							<h4 style = "margin-top:10px">Tah-mee Drinking and Frozen yogurt</h4>
							<p class="mt-3 mb-4 pb-2">
								Compared to other froyo, it’s a bit expensive. The taste is nothing special, just like the normal froyo. Also when we went there, the froyo melts really quick.
							</p>

							<div class="small d-flex justify-content-start">
								<button class = "btn"><i class="fa fa-thumbs-up"></i> 30</button>
								<button class = "btn"><i class="fa fa-thumbs-up fa-rotate-180"></i> 58</button>
							</div>
						</div>
					</div>
					
					<br>
					
					<div class = "header_post" style ="display:flex; flex-direction:row">
					  <img class="rounded-circle shadow-1-strong me-3" src="./images/defaulticon.png" width = 50 height = 50>
						<div style = "margin-left: 10px ;">
							<a href = "User"><h6 style = "color: seagreen; font-size:16px;">{{user}}</h6></a>
							<p class="text-muted small mb-0"> 5/5
								<span class="fa fa-star" style = "color: orange;"></span>
								<span class="fa fa-star" style = "color: orange;"></span>
								<span class="fa fa-star" style = "color: orange;"></span>
								<span class="fa fa-star" style = "color: orange;"></span>
								<span class="fa fa-star" style = "color: orange;"></span>
							</p>
										
							<h4 style = "margin-top:10px">Obscure Cafe</h4>
							<p class="mt-3 mb-4 pb-2">
								I always go here whenever I want to have a chill study session! One of the best place to study while drinking my favorite coffee!
							</p>

							<div class="small d-flex justify-content-start">
								<button class = "btn"><i class="fa fa-thumbs-up"></i> 194</button>
								<button class = "btn"><i class="fa fa-thumbs-up fa-rotate-180"></i> 36</button>
							</div>
						</div>
					</div>
					
					<br>
					
					<div class = "header_post" style ="display:flex; flex-direction:row">
					  <img class="rounded-circle shadow-1-strong me-3" src="./images/defaulticon.png" width = 50 height = 50>
						<div style = "margin-left: 10px ;">
							<a href = "User"><h6 style = "color: seagreen; font-size:16px;">{{user}}</h6></a>
							<p class="text-muted small mb-0"> 3/5
								<span class="fa fa-star" style = "color: orange;"></span>
								<span class="fa fa-star" style = "color: orange;"></span>
								<span class="fa fa-star" style = "color: orange;"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</p>
											
							<h4 style = "margin-top:10px">Everything But Cheese</h4>
							<p class="mt-3 mb-4 pb-2">
								Objectively rating it, it’s 3/5. It’s good for cheese lovers but if you are not, then foods are pretty normal. The only difference is it was served with cheese. Some foods are not freshly cooked, which, I think, can affect the tastes of the food. Overall, I won’t go back to it.
							</p>

							<div class="small d-flex justify-content-start">
								<button class = "btn"><i class="fa fa-thumbs-up"></i> 46</button>
								<button class = "btn"><i class="fa fa-thumbs-up fa-rotate-180"></i> 83</button>
							</div>
						</div>
					</div>
					
				</span>
            </div>
			
			<div class="card-body tabcontent" id = "showcomment">
				
				<div class = "thread">
					<div class = "header_post" style ="display:flex; flex-direction:row">
					  <img class="rounded-circle shadow-1-strong me-3" src="images/UserProfile/jakesim.jpg" width = 50 height = 50>
						<div style = "margin-left: 10px ;">
							<a href = "jake.html"><h6 style = "color: seagreen; font-size:16px;">Jake Sim</h6></a>
							<p class="text-muted small mb-0"> 5/5
								<span class="fa fa-star" style = "color: orange;"></span>
								<span class="fa fa-star" style = "color: orange;"></span>
								<span class="fa fa-star" style = "color: orange;"></span>
								<span class="fa fa-star" style = "color: orange;"></span>
								<span class="fa fa-star" style = "color: orange;"></span>
							</p>
											
							<h4 style = "margin-top:10px">Tah-mee Drinking and Frozen yogurt</h4>
							<p class="mt-3 mb-4 pb-2">
								I love it! Been craving froyo in in taft and surely, this one satisfy my desire for froyo!
							</p>

							<div class="small d-flex justify-content-start">
								<button class = "btn"><i class="fa fa-thumbs-up"></i> 97</button>
								<button class = "btn"><i class="fa fa-thumbs-up fa-rotate-180"></i> 36</button>
							</div>
						</div>
					</div>
					<br>
					
					<div class = "reply" style ="margin-left:60px; display:flex; flex-direction:row">
					  <img class="rounded-circle shadow-1-strong me-3" src="./images/defaulticon.png" width = 50 height = 50>
						<div style = "margin-left: 10px ;">
							<a href = "User"><h6 style = "color: seagreen; font-size:16px; display:flex; margin-top:10px;">{{user}}</h6></a>
						
							<p class="mt-3 mb-4 pb-2">
								Same! I really like it! 							
							</p>

							<div class="small d-flex justify-content-start">
								<button class = "btn"><i class="fa fa-thumbs-up"></i> 6</button>
								<button class = "btn"><i class="fa fa-thumbs-up fa-rotate-180"></i> 1 </button>
							</div>
						</div>
					</div>
					
				</div>
				
				<br>
				
				<div class = "thread">
					<div class = "header_post" style ="display:flex; flex-direction:row">
					  <img class="rounded-circle shadow-1-strong me-3" src="images/UserProfile/sunghoonpark.jpg" width = 50 height = 50>
						<div style = "margin-left: 10px ;">
							<a href = "sunghoon.html"><h6 style = "color: seagreen; font-size:16px;">Sunghoon Park</h6></a>
							<p class="text-muted small mb-0"> 5/5
								<span class="fa fa-star" style = "color: orange;"></span>
								<span class="fa fa-star" style = "color: orange;"></span>
								<span class="fa fa-star" style = "color: orange;"></span>
								<span class="fa fa-star" style = "color: orange;"></span>
								<span class="fa fa-star" style = "color: orange;"></span>
							</p>
											
							<h4 style = "margin-top:10px">HONEY MISO BUTTER!!!</h4>
							<p class="mt-3 mb-4 pb-2">
								I have sweet tooth so I really enjoy their Honey Miso Butter!
							</p>

							<div class="small d-flex justify-content-start">
								<button class = "btn"><i class="fa fa-thumbs-up"></i> 57</button>
								<button class = "btn"><i class="fa fa-thumbs-up fa-rotate-180"></i> 12</button>
							</div>
						</div>
					</div>
					
					<br>
					
					<div class = "reply" style ="margin-left:60px; display:flex; flex-direction:row">
					  <img class="rounded-circle shadow-1-strong me-3" src="./images/defaulticon.png" width = 50 height = 50>
						<div style = "margin-left: 10px ;">
							<a href = "User"><h6 style = "color: seagreen; font-size:16px; display:flex; margin-top:10px;">{{user}}</h6></a>
						
							<p class="mt-3 mb-4 pb-2">
								Too sweet. This is my least favorite 							
							</p>

							<div class="small d-flex justify-content-start">
								<button class = "btn"><i class="fa fa-thumbs-up"></i> 39</button>
								<button class = "btn"><i class="fa fa-thumbs-up fa-rotate-180"></i> 27 </button>
							</div>
						</div>
					</div>
				</div>
			</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
  </footer>

<script src="user.js"></script>
<script src="jquery.min.js"></script>
<script src="bootstrap.bundle.min.js"></script>
</script>
</body>
